/.DS_Store
/EISFace/EISFace.xcodeproj/xcuserdata/jasonrankins.xcuserdatad/xcschemes/xcschememanagement.plist
/EISFace/EISFace.xcodeproj/xcuserdata/jasonrankins.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/EISFace/.DS_Store
*.orig
/EISFace/gui/.DS_Store
.DS_Store

/EIS/.DS_Store
*.xcuserstate
